.container{
    position: absolute;
    top: 25vh;
    width: 80%;
    padding: 0;
    border: 5px solid #6BD1FF;
    border-radius: 15px;
    overflow: hidden;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0012338F
}

.botonCerrar{
    position: absolute;
    top: 5px;
    right: 0px;
}

.botonCerrar button{
    background: transparent;
    border: none;
}

.icon{
    width: 30px;
}

.icon:hover{
    cursor: pointer;
}